@import '../node_modules/bootstrap/dist/css/bootstrap.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: Roboto,Helvetica Neue,Arial,sans-serif;
}
table.CustomizedTable { 
    width: 100%;
    font-size: 15px;
 }
 table.CustomizedTable td{ 
    vertical-align: middle;
 }